.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;

  padding: 1rem 2rem;

  .noNewsText {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 0;
    padding: 1rem;
  }
}
