.container {
  display: flex;
  text-align: left;
}

.rightColumn {
  padding: 1rem;
  padding-top: 4rem;
  width: 20%;
}

.leftColumn {
  padding: 1rem;
  padding-top: 4rem;
  width: 20%;
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 12rem;
  img {
    width: 5rem;
    height: 5rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .rightColumn,
  .leftColumn {
    display: none;
  }
}
