.container {
  display: flex;

  text-align: left;
}

.rightColumn {
  padding: 1rem;
  padding-top: 4rem;
  width: 20%;
}

.leftColumn {
  padding: 1rem;
  padding-top: 4rem;
  width: 20%;
}
